<h2 class="text-center">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
   <div class="field">
    <%= f.label :image,:class=>"hidden"%>
    <%= f.file_field :image%>
  </div>
  <div class="field">
    <%= f.label :name ,:class=>"hidden" %><br/>
    <%= f.text_field :name,:placeholder=>"Name"%>
  </div>
  <div class="field">
    <%= f.label :email ,:class=>"hidden" %><br />
    <%= f.email_field :email, autocomplete: "email",:placeholder=>"Email" %>
  </div>
  <div class="field">
    <%= f.label :password ,:class=>"hidden" %>
    <%= f.password_field :password, autocomplete: "new-password",:placeholder=>"Password" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation ,:class=>"hidden" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",:placeholder=>"Confirm Password" %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up", :class=>"button-login"%>
  </div>
<% end %>
<hr>
<%= render "devise/shared/links" %>
