<h1> Create new category</h2>
<div class="container">
  <%= form_with model: @group,url: groups_path,:method=>"post" do |f| %>
    <hr>
    <div class="field">
      <%= f.label :name ,:class=>"hidden" %><br/>
      <%= f.text_field :name,:placeholder=>" Category Name", :required => true%>
    </div>
    <hr>
    <div class="field">
      <label class="btn btn-primary" for="group_image"> Upload Category Icon</label>
      <%= f.file_field :image,:class=>"hidden"%>
    </div>
    <hr>
    <%= f.submit "Create",:class=>"btn button-login" %>
  <%end%>
</div>
