<h1> groups new model</h2>

<%= form_with model: @group,url: groups_path,:method=>"post" do |f| %>
<hr>
  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name%>
  </div>
<hr>
  <div class="field">
    <%= f.label :image %><br/>
    <%= f.file_field :image%>
  </div>
<hr>
  <%= f.submit "Create",:class=>"btn btn-primary" %>
<%end%>