<div class="container">
  <h1>New Transaction</h1>
  <%= form_with model: @transaction,url: user_transactions_path,:method=>"post",:class=>"form1" do |f| %>
    <hr>
    <div class="field">
      <%= f.label :name,:class=>"hidden" %><br/>
      <%= f.text_field :name,:placeholder=>" Name", :required => true%>
    </div>
    <hr>
    <div class="field">
      <%= f.label :amount,:class=>"hidden" %><br/>
      <%= f.number_field :amount,:placeholder=>" Amount", :required => true%>
    </div>
    <hr>
    <div class="field">
      <span>Choose Category: </span>
      <%= f.label :group_id,:class=>"hidden" %><br/>
      <div class='catoption-wrapper'>
        <%= f.select(:group_id, options_for_select(@group_options.push)) %>
      </div>
    </div>
    <hr>
    <div class="d-flex">
      <%= f.submit "Create",:class=>"btn button-login" %>
    </div>
  <%end%>
</div>
