<!DOCTYPE html>
<html>
  <head>
    <title>RailsCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
    <nav class="nav ">
    <%if current_user.present?%>
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <%=link_to 'Home', '/'%>
          <%=link_to "Create new Transaction", new_user_transaction_path(current_user) %>
          <%=link_to "Create new Category", new_group_path%>
        </div>
      <%end%>
      <span class="burger" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
      <div class="d-flex home-back">
        <%= link_to "Home", '/'%>
        <%= link_to "Back",:back%>
        <%if current_user.present?%>
          <%= link_to "Sign out #{current_user.name}",destroy_user_session_path,:method => :delete%>
        <%end%>
      </div>
      <% nav_name = "Log in" if controller_name == "sessions"%>
  </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "100%";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
  </script>
  </body>
  <%=console if Rails.env.development?%>
</html>
